.output {
  height: 6rem;
  width: 100%;
  margin-bottom: 3rem;

  &__wrapper {
    border-radius: 0.5rem;
    background-color: #e9eaec;
    height: 100%;
    width: 100%;
    padding: 1rem;

    &__panel {
      height: 100%;
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: flex-end;
      overflow: hidden;
      .outputPanel {
        font-weight: 600;
        font-size: 1.3rem;
        font-family: "Courier New", Courier, monospace;
        letter-spacing: 0.1rem;
      }
    }
  }
}
